@model IEnumerable<ProductViewModel>



<div class="row" style="justify-content: end;">
    <div class="col col-2 my-3">
        <button type="button" class="btn btn-primary js-render-modal" style="margin-left: 140px;"
                data-title="Add Product"
                data-url="/Products/Create">
            Add
        </button>
    </div>
    <div class="col col-12">

        <table class="table table-hover" id="js-table">
            <thead>
                <tr>
                    <th class="text-nowrap">Name</th>
                    <th class="text-nowrap">Category</th>
                    <th class="text-nowrap">Start Date</th>
                    <th class="text-nowrap">Duration</th>
                    <th class="text-nowrap">Status</th>
                    <th class="text-nowrap">Availability</th>
                    <th class="text-nowrap">Created By</th>
                    <th class="text-nowrap">Created On</th>
                    <th class="text-nowrap">Updated By</th>
                    <th class="text-nowrap">Updated On</th>
                    <th class="text-nowrap">Price</th>
                    <th class="text-nowrap">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <partial name="_ProductRow" model="@product" />
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
}

@section Styles
    {
    <link href="~/lib/datatables/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/datatables.bootstrap4.min.css" rel="stylesheet" />
}
