
<div class="modal-footer px-0">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">
        <span class="indicator-label">
          Save
        </span>
    </button>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}